beautifulsoup4==4.12.3
fastapi==0.111.0
firebase_admin==6.5.0
ImageHash==4.3.1
opencv_python==4.10.0.84
opencv_python_headless
Pillow==10.3.0
pillow_heif==0.16.0
pydantic==2.8.2
python-dotenv
Requests==2.32.3
starlette==0.37.2
uvicorn==0.20.0
