__pycache__
*.pyc

# secrets
data
credential
config.py
image_server/internal/email/constant.py
image_server/internal/email_send/constant.py

image_server/credential

db/config.py
db/imagedb.db

# test images
image_server/internal/upload/imagecert_test